<footer id="contact">
  <div class="footer-upper">
    <img class="footer-logo" src="assets/footer-logo.svg" />
    <h2 class="footer-h5">Seasoned. Nimble. Remote</h2>
    <p>
      We are a diverse and passionat team that takes owenship of changing the
      world and empower people in different areas. we stay light on our feet and
      tryly enjoy delivering great work.
    </p>
    <h5>Follow us on:</h5>
    <div class="social--ctr">
      <div class="social--card">
        <div>
          <img src="assets/Facebook.svg" alt="" />
        </div>
        <span>Facebook</span>
      </div>
      <div class="social--card">
        <div>
          <img src="assets/Instagram.svg" alt="" />
        </div>
        <span>Instgram</span>
      </div>
      <div class="social--card">
        <div>
          <img src="assets/LinkedIN.svg" alt="" />
        </div>
        <span>LinkedIn</span>
      </div>
      <div class="social--card">
        <div>
          <img src="assets/Pinterest.svg" alt="" />
        </div>
        <span>Pinterest</span>
      </div>
      <div class="social--card">
        <div>
          <img src="assets/Slack.svg" alt="" />
        </div>
        <span>Slack</span>
      </div>
    </div>
    <img class="victory--ctr" src="assets/Victory.svg" />
  </div>
</footer>
