<header class="page--header">
  <div class="logo">
    <img class="swirl-logo" src="/assets/logo-swirl.svg" alt="" />
  </div>
  <nav>
    <a href="/">home</a>
    <a href="/tips">Tips</a>
    <a href="/about">About us</a>
    <a href="https://github.com/Nait-Orgnization">Contact</a>
  </nav>
</header>
