<header class="page--header">
  <div class="logo">
    <img class="swirl-logo" src="/assets/logo-swirl.svg" alt="" />
    <span>Swirl</span>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/tips">Tips</a>
    <a href="/about">About us</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
