<div class="grid--ctr">
  <% recommend.recommend.forEach(element => {%>
  <div class="recommend--ctr">
    <img src="<%= element.img %>" alt="" />
    <div class="bot">
      <h6><%= element.place%></h6>
      <h5><%= element.heading%></h5>

      <span><i class="fas fa-star"></i><%= element.rating%></span>
    </div>
  </div>
  <% }); %>
</div>
