<form method="POST" action="/details" class="form">
  <div class="f--upper">
    <h4>Search For your destination</h4>
    <input type="text" name="city" />
  </div>

  <button type="submit">&rarr;</button>
</form>
