<form method="POST" action="/details" class="form">
  <div>
    <h4>The Greatest Outdoors</h4>
    <input type="text" name="city" class="hero--input" />
  </div>

  <button type="submit">Search</button>
</form>
