/* hero section */

.hero {
  background: url('../assets/hero-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}
.hero {
  display: grid;
  grid-template-columns: calc(((200 / 1360) * 100%)) calc(((960 / 1360) * 100%)) calc(
      ((200 / 1360) * 100%)
    );
  grid-template-rows: calc((75 / 654) * 100%) calc((579 / 654) * 100%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0em 1.875em;
}
.hero--content {
  grid-area: 2/2/2/3;
  display: flex;
}
.hero--content div {
  width: 50%;
}
.hero--content .content--form {
  margin: 3rem 0;
}
.content--form {
  display: flex;
  justify-content: flex-end;
}
.form {
  width: 80%;
  height: 68%;
  /* border: 1px solid black; */
  padding: 0em 1.875em 1.25em 1.875em;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 0.72em;
  border-radius: 15px;
}
.form .f--upper {
  width: 100%;
}
.form input[type='text'] {
  width: 100%;
  height: 3em;
  z-index: 3;
}
.form button {
  /* position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1.25em;
  margin-right: 1.875em; */
  width: 2.25em;
  /* height: 1.25em; */

  border: none;
  background-color: transparent;
  font-size: 2.25rem;
  align-self: flex-end;
  margin-right: -0.625em;
}

/* header */
.page--header {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
}
.logo {
  width: calc((240 / 960) * 100%);
}
