/* hero section */

.hero {
  background: url("../assets/hero-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}
.hero {
  display: grid;
  grid-template-columns: calc(((100 / 1360) * 100%)) calc(((1160 / 1360) * 100%)) calc(
      ((100 / 1360) * 100%)
    );
  grid-template-rows: calc((75 / 654) * 100%) calc((579 / 654) * 100%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0em 1.875em;
}
.hero--content {
  grid-area: 2/2/2/3;
  display: flex;
}
.hero--content div {
  width: 50%;
}
.hero--content .content--form {
  margin: 3rem 0;
}
.content--form {
  display: flex;
  justify-content: flex-end;
}
.form {
  width: 80%;
  height: 68%;
  /* border: 1px solid black; */
  padding: 0em 1.875em 1.25em 1.875em;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 0.72em;
  border-radius: 15px;
}
.form .f--upper {
  width: 100%;
}
.form input[type="text"] {
  width: 100%;
  height: 3em;
  z-index: 3;
}
.form button {
  /* position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1.25em;
  margin-right: 1.875em; */
  width: 2.25em;
  /* height: 1.25em; */

  border: none;
  background-color: transparent;
  font-size: 2.25rem;
  align-self: flex-end;
  margin-right: -0.625em;
}

/* header */
.page--header {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
}
.logo {
  width: calc((240 / 960) * 100%);
}


/* Second section  */
.info--content {
  display: grid;
  grid-template-columns: calc(((100 / 1360) * 100%)) calc(((1160 / 1360) * 100%)) calc(
      ((100 / 1360) * 100%)
    );
  grid-template-rows: calc((40 / 654) * 100%) calc((614 / 654) * 100%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0em 1.875em;
}

.content--wrapper img {
  margin: 2.5rem 0;
  width: 100%;
}
.content--wrapper {
  grid-area: 2/2/2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info--desc span {
  font-weight: 600;
}

/* Third section */
.more--content {
  display: grid;
  grid-template-columns: calc(((100 / 1360) * 100%)) calc(((1160 / 1360) * 100%)) calc(
    ((100 / 1360) * 100%)
  );
  grid-template-rows: calc((40 / 654) * 100%) calc((614 / 654) * 100%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0em 1.875em;
}
.img--ctr{
  background: url('../assets/photo.jpg');
  width:100%;
  height: 31.25rem;
  background-position: 30%  50%;
}
.more--wrapper {
  grid-area: 2/2/2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more--desc span {
  font-weight: 600;
}
/* Fourth section */
.grid--ctr{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(188px, 1fr) );
  gap: 10px;
  grid-area: 2/2/2/3;
  grid-template-rows: auto;
  padding: 1.875rem 0rem
  
}
.cards--content{
  display: grid;
  grid-template-columns: calc(((100 / 1360) * 100%)) calc(((1160 / 1360) * 100%)) calc(
    ((100 / 1360) * 100%)
  );
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0em 1.875em;
}
.recommend--ctr {
  height: 371px;
  margin-bottom: 30px;
}
.recommend--ctr h5{
  margin: 4px 0px 8px 0px;
  font-size: 16px;
}
.recommend--ctr h6{
  
  font-size: 12px;
  color: silver;
}
.recommend--ctr p{
  margin-bottom: 5px;
  font-size: 12px;
  
}

.recommend--ctr img{
  height: 240px;
  width: 100%;
}

/* Fifth section */
.favorite--ctr{
  display: grid;
  grid-template-columns: calc(((100 / 1360) * 100%)) calc(((1160 / 1360) * 100%)) calc(
    ((100 / 1360) * 100%)
  );
  grid-template-rows: calc((40 / 654) * 100%) calc((614 / 654) * 100%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0em 1.875em;
}
.favorite--content{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(188px, 1fr) );
  gap: 16px;
  grid-area: 2/2/2/3;
}

.favorite--content img{
height: 239px;
border-radius: 12px;
width: 100%;
}