.fav--button:hover {
  animation: 500ms rot backwards;
  transition: all 100ms ease;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(80deg);
  }
  60% {
    transform: rotate(120deg);
  }
  80% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.form button:hover {
  background: white;
  border: 1px solid #d71731;
  color: #d71731;
  transition: 1s ease all;
  cursor: pointer;
}

.recommend--ctr:hover {
  box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em,
    rgb(0 0 0 / 25%) 0px 0.125em 0.5em,
    rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
  transition: all 2s ease-in-out;
  cursor: pointer;
}
.content--wrapper img {
  box-shadow: 0 0.6px 2.1px -15px rgb(0 0 0 / 9%),
    0 2px 6.9px -15px rgb(0 0 0 / 13%), 0 9px 31px -15px rgb(0 0 0 / 21%);
  border: 1px solid rgba(0, 0, 0, 0.07);
}
