<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css" />

  <title>Document</title>
</head>

<body>
  <section class="hero2">
    <%- include('../partials/header') %>
    <div class="hero--content1">

      <!-- <div class="our"> -->
        <div data-aos="fade-right"
        data-aos-anchor-placement="center-bottom" data-aos-duration="1000"  class="content--text"  >

            <!-- <div class="inner"> -->
              <h2 class="h3about">Our vision</h2>
              <p class="vision">

                Swirl may have been born by a coincidence, but the harmony developed between us once we started working
                on
                the project. We are passionate about what we do, and we always want to learn more. We aim to deliver the
                best outcome to insure the great service and amazing experience. Swirl has been super productive along
                the
                way,
                we take care about your next destination, give you a useful information about best places and events will
                be occurring in your destination.
              </p>
            </div>

      </div>

  </section>

  <section class="cards">
    <div class="team--ctr">

      <div data-aos="fade-down" data-aos-duration="1000" class="divshadow" >
        <img class="imgabout" src="assets/ibrahim.PNG" alt="">
        <p class="procontainer">PRO</p>
        <h6 class="name">Ibrahim Banat </h6>
        <h6 class="jobTitle">Full Stack Web Developer</h6>
        <h6 class="experience">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, necessitatibus
          perspiciatis! Dolores totam necessitatibus vitae eligendi dolorem nemo</h6>
        <div class="icon">
          <a href="https://github.com/ibrahimBanat" class="fab fa-github "></a>
          <a class="fab fa-instagram" href="https://www.instagram.com/ibr_ba/"></a>
          <a class="far fa-envelope" href="ibrahim.banat.97@gmail.com"></a>
          <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/ibrba/"></a>
          <a class="fab fa-facebook-f" href="https://www.facebook.com/ibrahim.banat.7737/"></a>


        </div>
      </div>

      <div data-aos="fade-down" data-aos-duration="1000" class="divshadow">
        <img class="imgabout" src="assets/neveen.jpg" alt="">
        <p class="procontainer">PRO</p>
        <h6 class="name">Neveen Beiram</h6>
        <h6 class="jobTitle">Full Stack Web Developer</h6>
        <h6 class="experience"> A Software Engineer graduated from Hashemaite University.I have a passion to learn more
          in software development and intended to be a qualified developer </h6>
        <div class="icon">
          <a href="https://github.com/NeveenBeiram" class="fab fa-github "></a>
          <a class="fab fa-instagram" href="https://www.instagram.com/neveenshbeiram/"></a>
          <a class="far fa-envelope" href="neveenbeiram@yahoo.com"></a>
          <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/neveen-beiram-8a6b41192/"></a>
          <a class="fab fa-facebook-f" href="https://web.facebook.com/NeveenShBeiram"></a>


        </div>
      </div>


      <div data-aos="fade-down" data-aos-duration="1000" class="divshadow">
        <img class="imgabout" src="assets/tamara.jpg" alt="">
        <p class="procontainer">PRO</p>
        <h6 class="name">Tamara Albilleh </h6>
        <h6 class="jobTitle">Full Stack Web Developer</h6>
        <h6 class="experience">A Registered Nurse graduated from university of Jordan recently, passionate about web development and determined to become a web developer</h6>
        <div class="icon">
          <a href="https://github.com/tamaraalbilleh" class="fab fa-github "></a>
          <a class="fab fa-instagram" href="#"></a>
          <a class="far fa-envelope" href="tamara2albella@gmail.com"></a>
          <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/tamaraalbilleh/"></a>
          <a class="fab fa-facebook-f" href="https://facebook.com/tamaraalbella2"></a>


        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" class="divshadow">
        <img class="imgabout" src="assets/Ayah.jpg" alt="">
        <p class="procontainer">PRO</p>
        <h6 class="name">Ayah Smadi</h6>
        <h6 class="jobTitle">Full Stack Web Developer</h6>
        <h6 class="experience"> A Software Engineer looking forward to improve my
          skills in the software development field, hopefully to be able to make a great web applications
          that will help my community in every way possible. </h6>
        <div class="icon">
          <a href="https://github.com/Aya333" class="fab fa-github "></a>
          <a class="fab fa-instagram" href="#"></a>
          <a class="far fa-envelope" href="aya.smadi34@yahoo.com"></a>
          <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/ayah-smadi/"></a>
          <a class="fab fa-facebook-f" href="https://web.facebook.com/aya.a.smadi/"></a>


        </div>
      </div>

      <div data-aos="fade-up" data-aos-duration="1000" class="divshadow">
        <img class="imgabout" src="assets/ashar.jpeg" alt="">
        <p class="procontainer">PRO</p>
        <h6 class="name">As-har Abuhelweh</h6>
        <h6 class="jobTitle">Full Stack Web Developer</h6>
        <h6 class="experience"> A Civil Engineer graduated from al albayt University. Looking for passion to markup my
          future in something I love. Hopefully finding this passion in Software development. </h6>
        <div class="icon">
          <a href="https://github.com/asharabuhelweh" class="fab fa-github "></a>
          <a class="fab fa-instagram" href="https://www.instagram.com/ashar.mohamad/"></a>
          <a class="far fa-envelope" href="ashar.mohamad@yahoo.com"></a>
          <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/as-har-abuhelweh-27207510b/"></a>
          <a class="fab fa-facebook-f" href="https://www.facebook.com/ashar.mohamad.92"></a>


        </div>
      </div>

    </div>
  </section>
  <%- include('../partials/footer') %>

  <script src="https://kit.fontawesome.com/e516b72963.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>


</body>

</html>